@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
    background-color: darkgray;
}


header {
    width: 100%;
    height: 45px;
    background-color: lightblue;
    position: fixed;
    top: 0;
}
nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
nav > a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    font-size: 18px;
    font-weight: bold;
}
nav > a:hover {
    color: crimson;
    transition: .3s ease-out;
}


main {
    margin-top: 70px;
}
.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin: 20px 0;
}

.about_us img {
    width: 300px;
    object-fit: cover;
    object-position: top;
}

.about_us-description {
    display: flex;
    flex-direction: column;

}
.about_us-description * {
    padding: 5px;
    font-size: 18px;
}


.my_game {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    padding: 30px 0 10px;
}
.my_game > * {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 5px;
}
.my_game input, .my_game button {
    border: none;
    background-color: lightgray;
    outline-color: deeppink;
    min-height: 30px;
}
.my_game button {
    cursor: pointer;
    align-self: center;
    width: max-content;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: yellowgreen;
    font-size: 17px;
}
.my_game button:hover {
    transition: .2s ease-in-out;
    box-shadow: 
        0 -2px 10px rgb(148, 148, 148),
        0 2px 10px rgb(148, 148, 148)
    ;
}


.choosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.choosed_block > * {
    margin: 10px 0;
}
.choosed_block-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    gap: 10px;
}
.choosed_block-container > div {
    cursor: pointer;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}
.choosed_block-container > div:hover {
    box-shadow: 
        -2px -2px 8px rgb(145, 145, 145),
        2px 2px 8px rgb(145, 145, 145)
    ;
}
.choosed_element {
    border: 3px solid darkcyan;
}


.posts_block {
    max-width: 600px;
    margin: 50px auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts_block h2 {
    text-align: center;
    margin: 0 0 20px;
}
.posts_block button {
    cursor: pointer;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0 20px;
    background-color: rgb(220, 220, 220);
}
.posts_block button:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 2px 10px rgb(116, 116, 116);
    background-color: rgb(240, 240, 240);
}
.posts_block-container > * {
    cursor: pointer;
    margin: 15px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 2px 8px rgb(160, 160, 160);
}
.posts_block-container > *:hover {
    box-shadow: 0 2px 8px rgb(105, 105, 105);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
}